li{
    display: inline;
}
section.Box1{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    flex-wrap: wrap;
    border: 1px dotted black; /* Mettre des bordures*/
    float: left; /*Permet de faire flotter des éléments à droite*/
    max-width: 70%;
    
    
}



nav{
    background-color: #F2F2F2;
    border: 1px dotted black;
    display: flex;
    max-width: 30%;
    justify-content: flex-start;
}

div.hébergement{
    display: flex;
    flex-direction: row;
    
    
    max-width: 800px;
}

div.héber{
    display: flex;
    
    max-width: 500px;
    max-height: 400px;
    flex-wrap: wrap;
}



.floater1
{
    order: 1;
    align-self: center;
}

figcaption{
    font-weight: bold;
}

img{
    max-width: 25%;
}
section.activité1{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div.élément_liste{
    display: flex;
    flex-direction: column;
}