@font-face
{
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf') format('embedded-opentype'),
         url('static/Raleway-Bold.ttf') format('ttf'),
         url('static/Raleway-Medium.ttf') format('truetype'),
         url('static/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Raleway, sans-serif;
    margin-top: 0px;
    color: black;
    
}

a{
    text-decoration: none; /* Enlever surlignage des liens*/
}

.headernav_link, div.pop_descrip, .footer_link, .heber_caption, .Heber_descrip{
    color: black;
}

/* ////////////////////////////////////////HEADER/////////////////////////////////////////// */
/* /////////////////////Haut de page */
header{
    display: grid;
    grid-template-columns: 1fr auto auto; /*Fr permet de mettre de l'écart entre les blocs*/
    grid-template-areas: "logo . navbar button";
    
    
 }

.header{
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;

}
img.logopage{
    grid-area: logo;
    padding: 1rem 1rem;
    height: 2.813rem;
}

.header_nav{
    display: flex;
    align-items: center;
    grid-area: navbar;
    
}

.headernav_link{

    padding: 2rem;
    font-weight: inherit;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    color: black;
}
.headernav_link[data-active= "true"]{  /* Permet d'utiliser un des 2 headernav */
    color: #0065FC;
}
.headernav_link:hover /*Ce qu'il se passe quand on survole*/
{
    border-top: solid #0065FC;
    border-width: 3px;
    color: #0065FC;

} 
.signup{
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: bold;
}


/* ///////////////Titre du site */
.title{
    line-height: 15px;
    display: block;
}

/* //////////////Localisaiton */
div.localisation{
    display: flex;
    flex-direction: row;
    align-items: center; /*Permet d'aligner logo et barre recherche*/
    padding-left: 1rem; /*Marge extérieur gauche*/
    max-width: 100%;
}

i.fas.fa-map-marker-alt{ /*Logo localisation*/
    
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem 1.25rem;/*Faire grossir le bloc*/
    
}
input{ /*champ de recherche ville*/
    border: solid #F2F2F2;
    border-width: 1px;
    padding: 1rem 1.25rem;/*Faire grossir le bloc*/
    font-size: 1rem;
}

input.search{ /*Bouton Rechercher*/
    background-color: #0065FC;
    border-radius: 0 10px 10px 0 ;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem 1.25rem; /*Faire grossir le bloc*/
}
::placeholder{ /*Contenue du formulaire localisation*/
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
}

.fas.fa-search{
    display: none; /*Faire dîsparaitre la loupe*/
    background-color: #0065FC;
    border-radius: 0 10px 10px 0; 
    padding: 1rem 1.25rem; /*Faire grossir le bloc*/
    color: white;
}

/* ////////////////Filtres */

.header_filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.title_filtre{
    margin-right: 2rem;
}

.filtre{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.filtre_icon{
    
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    
}
/*///////////////////// Info nbr logement */
div.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}
div.info_logo{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}
/* ////////////////////////////////////////BLOC HAUT AVEC HEBERGEMENT ET POPULAIRE////////////////////// */

.Holidays{
    display: flex;
    flex-direction: row;

}

.Hebergements{
    width: 65%;
}

.Populaires{
    width: 35%;
}

/* /////////////////////Hebergement bloc */
.heber_title{
    height: fit-content;
    width: 100%;
}

.Hebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
}
.heber_figure { /*Représente bloc avec les hôtels*/
    display: block;
    width: fit-content;
    margin: 0; /*Permet à l'image de remplir le champ*/
    
}
.heber_card{
    
    background-color: white;
    padding: 0.375rem; /*Permet au bloc blanc d'avoir une marge vers l'image*/
    border-radius: 2rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 180px; /*hauteur du bloc blanc image*/
    width: 30%;
    margin: 0.5rem;
    
}


.heber_img{
    
    object-fit: cover; /*Contenu Image redimenssioné pour s'adapter au block*/
    width: 100%; /*Largeur du block*/
    height: 90px;
    border-radius: 1.875rem 1.875rem 0 0;
    width: 100%;
    
}

p.heber{
    width: 100%;
    font-weight: bold;
    
}
.etoiles{
    display: flex;
    flex-direction: row;
}
figcaption.heber_caption{
    font-weight: bold;
}

/* /////////////////////////////////////////////////BLOC POPULAIRE//////////////////////////////////////// */

aside.Populaires{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;

    
}
h2.populaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
   
article.heber_popular{
    
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 150px;
    width: 100%;
    margin-top: 1rem;

}

a.popular{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

div.popular{
    position: relative;
    height: 100%;
    width: 33%;
    min-width: 43%;
    max-width: 43%;
}

img.img_popular{
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

div.pop_descrip{
    margin: 0.25rem 0.75rem 0 0.75rem;
    color: black;
}
/* étoiles couleur */
i.fas.fa-star{
    color: #0065FC;
}
i.fas.fa-star.grey{
    color: #f2f2f2;
}

/* //////////////// /////////////////////BLOC ACTIVITES////////////////////////////////////////////////:*/
section.Activity{

    display: grid;
    column-gap: 2rem;
    margin: 4rem 2rem;
    grid-template-columns: repeat(4, 1fr); /*Grid sur 4 colonnes*/
    grid-template-rows: auto 12rem 12rem;  /*Taille des blocks du grid*/
   
    
}

.activity_title{
    grid-column: 1/-1;
}

.act_card{ /*Représente la carte des activités*/
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    margin: 1rem;
    
    
}

div.activity_img{

    position: relative;
    flex: 1;
}

img.activity_img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h3.activity_title{
    margin: 1.2rem 1.5rem;
    
}
/* Représente les 2 cartes flottantes */
a.card1{ 
    grid-row: 2/7;
    grid-column: 1/2; /*Permet de faire floater les images à droite de la card1*/
}

a.card3{
    grid-column: 3/4;
    grid-row: 2/7;
}

/*///////////////////////////////////////////////FOOTER/////////////////////////////////////////////////  */

footer{
    background-color: #F2F2F2;
    width: 100%;
}

.footer_li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 1rem;
}

.footer_column{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

/* ///////////////////////////////DYNAMIQUE QUAND ON SURVOLE///////////////////////////////////////////// */
.act_card:hover, .heber_card:hover, .heber_popular:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.1s;
}
.filtre:hover{
    border: solid 5px #0065FC;
}

/* /////////////////////////////////////////////////RESPONSIVE//////////////////////////////////////// */


@media (min-width: 480px) and (max-width: 980px){
    /*/////////////////////////HEADER//////////////////////////////////////////////////////  */
/* ///////////////////HAut de page */


header{
        
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "logo . button"
        "navbar navbar navbar";
}
a.signup{
    font-size: 2.5rem;
}

img.logopage{
    height: 6rem;
}
.headernav_link{
    width: 100%;
    font-size: 2.5rem;
}

.headernav_link[data-active= "true"]{  /* Permet d'utiliser un des 2 headernav */
    border-bottom: solid #0065FC;
}
 /* //////////////escription site */

section.title{
    font-size: 2rem;
}
h1{
    line-height: 4rem;
}

/* ////////////Localisation */

input.search{
    display: none;
}

.fas.fa-search{
    display: flex; /*Faire apparaître la loupe*/
    padding: 2rem 2.25rem; /*Faire grossir le bloc*/
}

i.fas.fa-map-marker-alt{ /*Logo localisation*/
    text-align: center;
    padding: 2.6rem 2.25rem;/*Faire grossir le bloc*/
    
}
input{ /*champ de recherche ville*/
   
    padding: 2rem 2.25rem;/*Faire grossir le bloc*/
    font-size: 2.5rem;
}
::placeholder{ /*Contenue du formulaire localisation*/
    color: black;
    font-size: 2.5rem;
}
/* ///////////////Filtres */
.title_filtre{
    width: 100%;
}

.filtre{
    font-size: 2.5rem;
    border-radius: 4rem;
    padding-right: 4rem;
}
.filtre_icon{
    height: 8rem;
    width: 8rem;
}
/* ///////////////Info */
div.info{
    width: 100%;
}
p.info{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

div.info_logo{
    height: 4rem;
    width: 4rem;
}
p{
    font-size: 36px;
}
/* ////////////////////////DISPO HEBERGEMENT ET POPULAIRE /////////////////////////////////////////////*/

.Holidays{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* ///////////////////////////////////////////POPULAIRE////////////////////////////////////////////// */

.Populaires{
    width: 95%;
    
}
h2.populaire{
    font-size: 3.5rem;
}
article.heber_popular{
    height: 20rem;
}
div.pop_descrip{
    font-size: 2rem;
}

/* ///////////////////////////////////////////HEBERGEMENTS///////////////////////////////////////// */

.Hebergements{
    width: 95%;
}
.heber_title{
    font-size: 3rem;
}
.heber_card{
    height: 32rem;
    width: 100%;
    padding: 1rem;
}

.heber_img{
    height: 20rem;
    
}
figcaption.heber_caption{
    font-size: 3rem;
}

p.Heber_descrip{
    font-size: 2.5rem;
    margin: 5px;
}

div.heber_star{
    font-size: 2.5rem;
}
p.heber{
    font-size: 2.5rem;
}

/* ////////////////////////////////////ACTIVITES//////////////////////////////////////////////////////////// */
section.Activity{
    display: flex;
    flex-direction: column;
}
h2.activity_title{
    font-size: 3.5rem;
}
.act_card{
    height: 32rem;
    border-radius: 3rem;
    
}
h3.activity_title{
    font-size: 2.5rem;
    margin: 3rem;
}

/* //////////////////////////////////////////////FOOTER/////////////////////////////////////////////////// */
.footer_li{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
.footer_column{
    font-size: 3rem;
    line-height: 5rem;
}

}       